{% extends 'base/base.html' %}

{% load static %} 

{% block links %}
<link rel="stylesheet" href="{% static 'css/accounts/index.css' %}">
{% endblock links %}

{% block title %}Index{% endblock title %}

{% block content %}
{% include 'base/navbar.html' %}
<div class="card">
    <div class="container">
      <img src="user.profile_pic.url" alt="profile-img">
      <h2>{{user.username}}</h2>
      <small>{{user.first_name}}</small>
      <div class="bar">
        <a class="btn" href="{% url 'accounts:profile' request.user.username %}">
          <i class="fas fa-pen"></i>
          <p>View profile</p>
        </a>
      </div>
    </div>
  </div>
{% endblock content %}