{% extends 'base/base.html' %}

{% load static %} 

{% block links %}
<link rel="stylesheet" href="{% static 'css/accounts/signup.css' %}">
{% endblock links %}

{% block title %}Signup{% endblock title %}

{% block content %}
<div class="signup-form">
  <div class="container">
    <div class="header text-center">
      <h1>Sign up</h1>
      <p>Enter your personal informations</p>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    </div>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      {% for field in form %}
      <div class="input">
        <label>{{field.label}} <span class="star">*</span> </label>
        {{field}}
        <p class="error-text">{{ field.errors|striptags }}</p>
      </div>
      {% endfor %}
      <input class="next-btn" type="submit" value="Next" />
    </form>
    </div>
    <p class="text-center">Already have an account <a href="{% url 'accounts:login' %}">Login</a></p>
  </div> 
</div>
{% endblock content %}

